# Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
.venv/
.env/

# Flask instance folder (contains secrets like .env)
instance/

# Database files
*.db
*.sqlite3

# IDE / Editor folders
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log

# Ignore zip, temp or build folders
*.zip
temp/
version/

# Dev Files
requirements-dev.txt
