@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


:root{
  --bg-color: linear-gradient(to right, #e2e2e2, #c9d6ff);
  --main-color: #312da8;
  --snd-color: #ff6f61;
  --text-color: #ffffff;
}

body{
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px;
}

/* ---------Nav Bar--------- */
nav{
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding:15px 50px;
  background:var(--main-color);
  position:sticky;
  top:0;
  z-index: 9999;
  width: 100%;
}

.logo{color:white;
      font-size:27px;
      font-weight:bold;
      transform:translateX(-2px);
}

.nav-links{
  list-style:none;
  display:flex;
  gap:25px;
}

.nav-links a{
  color:white;
  text-decoration:none;
  font-size:22.5px;
  font-weight:700;
}

.nav-links a:hover{
  color:var(--snd-color);
}

/* ------------------ MAIN CONTAINER ------------------ */

.container{
    margin-top: 30px;
    background-color: #fff;
    border-radius: 30px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    position: relative;
    overflow: hidden;
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    transition: 0.3s ease;
}

/* ------------------ TEXTS & INPUTS ------------------ */
.container p{
    font-size: 14px;
    line-height: 20px;
    margin: 20px 0;
}
.container input{
    background-color: #eee;
    border: none;
    margin: 8px 0;
    padding: 10px 15px;
    font-size: 13px;
    border-radius: 8px;
    width: 100%;
    outline: none;
}

/* ------------------ BUTTONS ------------------ */
.container button{
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
.container button.hidden{
    background-color: transparent;
    border: 1px solid #fff;
}

/* ------------------ FORM CONTAINER ------------------ */
.form-container{
    position: absolute;
    top: 0;
    height: 100%;
    transition: all 0.6s ease-in-out;
}
.container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    height: 100%;
}

.sign-in{
    left: 0;
    width: 50%;
    z-index: 2;
}
.container.active .sign-in{
    transform: translateX(100%);
}

.sign-up{
    left: 0;
    width: 50%;
    opacity: 0;
    z-index: 1;
}
.container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
}

@keyframes move{
    0%, 49%{
        opacity: 0;
    }
    50%, 100%{
        opacity: 1;
    }
}

/* ------------------ TOGGLE PANEL ------------------ */

.toggle-container{
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    border-radius: 150px 0 0 100px;
    z-index: 100;
}

.container.active .toggle-container{
    transform: translateX(-100%);
    border-radius: 0 150px 100px 0;
}

.toggle{
    background: linear-gradient(to right, #5c6bc0, #512da8);
    color: #fff;
    position: relative;
    width: 200%;
    height: 100%;
    left: -100%;
    transform: translateX(0);
    transition: 0.6s ease-in-out;
}

.container.active .toggle{
    transform: translateX(50%);
}

.toggle-panel{
    position: absolute;
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    text-align: center;
    top: 0;
    transition: 0.6s ease-in-out;
}

.toggle-left{
    transform: translateX(-200%);
}
.container.active .toggle-left{
    transform: translateX(0);
}

.toggle-right{
    right: 0;
}
.container.active .toggle-right{
    transform: translateX(200%);
}

/* ------------------ FLASH MESSAGES ------------------ */

.alert {
    width: 100%;
    padding: 18px 40px;
    margin-bottom: 20px;
    border-radius: 6px;
    text-align: center;
    font-size: 1rem;
    position: relative;
}

.alert-success { background:#d4edda; color:#155724; }
.alert-danger  { background:#f8d7da; color:#721c24; }

.btn-close{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
}

/* --------Forgot Password------
.forgot-password{
    text-align: left;
    margin-top: -5px;
    margin-right: 115px;
    margin-bottom: 7px;
    font-size: 1rem;
    color: #512da8;
    cursor: pointer;
    text-decoration: none;
    transition: color 0.3s ease;
}*/

/* --------Social Login------*/
.social-login{
    margin-top: 5px;
    width: 100%;
    text-aling: center;
    text-decoration: none;
}

.google-btn{
    width: 100%;
    height: 30px;
    padding: 12px 2px;
    border: 2px solid #512da8;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;
    cursor: pointer;
    font-size: 12px;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.google-btn:hover{
    box-shadow: 0 0 6px #512da8; 
    color: #fff;
    transform: scale(1.05);
    transition: all 0.3s ease;
}

.google-btn img{
    width: 20px;
    height: 20px;
}

.google-btn span{
    margin-top: 0px;
    font-size: 12px;
    font-weight: 700;
    color: #512da8;
    transition: all 0.3s ease;
}



/* MOBILE: vertical (up/down) toggle using the same .container.active class */
@media (max-width: 400px){

  nav{
  padding: 10px 25px;
  }

  .nav-links a{
    font-size: 18px;
  }

  .container{
    min-height: 400px;
    height: auto;
    width: 100%;
  }

  .container form{
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    height: 100%;
    font-size: .8rem;
  }

.sign-in{
    left: -5%;
    width: 60%;
    z-index: 2;
  }
.container.active .sign-in{
    transform: translateX(100%);
  }

.sign-up{
    left: -14%;
    width: 60%;
    opacity: 0;
    z-index: 1;
  }
  .container.active .sign-up{
    transform: translateX(100%);
    opacity: 1;
    z-index: 5;
    animation: move 0.6s;
  }

  .sign-in h1{
      font-size: 2rem;
  }

  .sign-in forgot-password{
      text-align: left;
  }

  .sign-up h1{
       font-size: 1.1rem;
  }

  .form-container a{
      font-size: .6rem;
  }

  .form-container button{
      font-size: .6rem;
      padding: 8px 30px;
      margin-top: 15px;
  }

  .form-container input{
      font-size: .7rem;
      padding: 8px 10px;
      margin: 5px 0;
  }

  .form-container span{
      font-size: .6rem;
      margin-bottom: 10px;
  }

  .toggle-panel{
      padding: 0 10px;
  }

  .toggle-container h1{
      font-size: 1.7rem;
  }

  .toggle-container p{
      font-size: .8rem;
  }

  .google-btn span{
    margin-top: 10px;
    margin-right: 5px;
  }
  /*.forgot-password{
      font-size: .8rem;
      margin-right: 0px;
  }*/
}